.sendTweet {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.buttonTweet {
  margin-left: 30px;
  width: 100px;
}

.defaultInput {
  background-color: transparent;
  font-size: larger;
}
